@import url(/bower_components/bootstrap/dist/css/bootstrap.min.css);
.player {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center; }

.video {
  color: #FFF;
  display: inline-block;
  position: relative;
  height: 405px;
  width: 720px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .video:hover .controls {
    bottom: 0%; }
  .video:hover .timeline {
    height: 7px;
    opacity: 1; }

.video-container {
  position: relative;
  z-index: -10; }

.controls {
  background: rgba(0, 0, 0, 0.8);
  bottom: -60px;
  color: #FFF;
  display: block;
  height: 60px;
  left: 0%;
  position: absolute;
  transition: bottom 0.15s ease;
  vertical-align: middle;
  width: 100%; }
  .controls .controls-inner {
    padding: 0 3%;
    text-align: center;
    vertical-align: middle; }
    .controls .controls-inner a, .controls .controls-inner a:visited {
      color: #FFF;
      font-weight: 700;
      text-decoration: none; }
    .controls .controls-inner a:hover {
      color: #CCC; }
    .controls .controls-inner .controls-left {
      float: left; }
    .controls .controls-inner .controls-right {
      float: right; }
  .controls .timeline-wrap {
    position: relative;
    height: 20px;
    bottom: 20px;
    cursor: pointer; }
    .controls .timeline-wrap:hover .timeline {
      height: 13px; }
    .controls .timeline-wrap:hover .key::before {
      display: block; }
  .controls .timeline {
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    display: block;
    height: 3px;
    opacity: 0.8;
    position: absolute;
    transition-delay: 0.1s;
    transition: height 0.1s ease;
    width: 100%; }
    .controls .timeline .key {
      background: rgba(255, 0, 0, 0.75);
      display: block;
      height: 100%;
      position: absolute;
      width: 2px; }
      .controls .timeline .key::before {
        background: rgba(255, 0, 0, 0.75);
        border-radius: 100%;
        content: "";
        display: none;
        height: 8px;
        left: -3px;
        position: absolute;
        top: -8px;
        width: 8px; }
      .controls .timeline .key#key-1 {
        left: 25%; }
      .controls .timeline .key#key-2 {
        left: 80%; }
      .controls .timeline .key#key-3 {
        left: 50%; }
    .controls .timeline .played {
      display: block;
      width: 40%;
      height: 100%;
      background: #009BFF;
      border-right: 1px solid #FFF; }

.overlay, .timecode {
  cursor: default;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 1% 2%;
  text-align: center;
  font-size: 1.25em;
  font-weight: 200;
  text-shadow: 2px 1px 2px 0 #000;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
  top: 3%;
  width: auto; }

.timecode {
  left: 42.5%;
  width: 15%; }
