@import url(/bower_components/normalize-css/normalize.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px; }

.inner, .wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .inner::after, .wrapper::after {
    clear: both;
    content: "";
    display: table; }

header {
  background: #333;
  margin: 0;
  padding: 1em 0; }
  header h1 {
    color: #aaa;
    margin: 0;
    padding: 0;
    text-align: center; }

.player-outer {
  background: #eee; }
  .player-outer .player-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0; }
    .player-outer .player-inner::after {
      clear: both;
      content: "";
      display: table; }

.player {
  display: block;
  background: #FFF;
  margin: 0 auto;
  width: 720px; }
  .player .video {
    position: relative; }
  .player .overlay {
    height: 100%;
    width: 100%; }
    .player .overlay #indicator, .player .overlay #bigplay {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 15px 15px;
      color: #FFF;
      font-weight: bold;
      font-size: 2em;
      padding: 10px 15px;
      position: absolute;
      top: 15px;
      right: 15px;
      height: auto;
      width: auto;
      min-width: 2em;
      min-height: 2em;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      transition: visibility 0.09s linear, opacity 0.09s linear;
      vertical-align: middle; }
      .player .overlay #indicator.hidden, .player .overlay .hidden#bigplay {
        visibility: hidden;
        opacity: 0; }
      .player .overlay #indicator.visible, .player .overlay .visible#bigplay {
        visibility: visible;
        opacity: 1; }
    .player .overlay #bigplay {
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 150px;
      height: 150px;
      font-size: 5em;
      font-weight: bold;
      text-align: center;
      vertical-align: middle; }
  .player .video {
    background: #555;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%; }
  .player .controls {
    background: #000;
    display: block;
    margin: 0;
    padding: 1em 0.5em;
    text-align: center;
    width: 100%; }
    .player .controls .clearfix {
      display: block;
      clear: both;
      width: 100%;
      float: left;
      height: 10px; }
    .player .controls .play-controls {
      float: left; }
    .player .controls .key-controls {
      float: right; }
    .player .controls button {
      background: #000;
      border: 1px solid #FFF;
      border-radius: 5px;
      color: #FFF;
      padding: 0.5em; }
      .player .controls button:hover {
        border-color: #ccc;
        color: #ccc; }
    .player .controls progress {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 20px;
      height: 1.25rem;
      margin-top: 10px;
      border: 1px solid #FFF;
      overflow: hidden;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .player .controls progress span {
        width: 0%;
        height: 100%;
        display: inline-block;
        background-color: #FFF; }
    .player .controls .keyframe-ticks {
      display: block;
      clear: both;
      height: 5px;
      position: relative;
      width: 100%; }
      .player .controls .keyframe-ticks div {
        background: #FFF;
        display: block;
        height: 100%;
        position: absolute;
        width: 2px; }
    .player .controls ul#keyframe-list {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .player .controls ul#keyframe-list li a {
        color: #FFF; }

.wrapper {
  padding: 1em 0 0 0; }
