@import "bourbon", "neat", "/bower_components/normalize-css/normalize.css";
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

body {
	@include font-smoothing();
	font-family: $helvetica;
	font-size: 14px;
}

.inner, .wrapper {
	@include outer-container;
}

header {
	background: #333;
	margin: 0;
	padding: 1em 0;
	h1 {
		color: #aaa;
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

.player-outer {
	background: #eee;
	.player-inner {
		@include outer-container;
		padding: 1.5em 0;
	}
}

.player {
	display: block;
	background: #FFF;
	margin: 0 auto;
	width: 720px;
	.video {
		position: relative;
	}
	.overlay {
		height: 100%;
		width: 100%;
		#indicator {
			background: rgba(0,0,0,0.5);
			border-radius: 15px 15px;
			color: #FFF;
			font-weight: bold;
			font-size: 2em;
			padding: 10px 15px;
			position: absolute;
			top: 15px;
			right: 15px;
			height: auto;
			width: auto;
			min-width: 2em;
			min-height: 2em;
			text-align: center;
			text-shadow: 0 1px 2px rgba(0,0,0,0.5);
			transition: visibility 0.09s linear, opacity 0.09s linear;
			vertical-align: middle;
			&.hidden {
			  	visibility: hidden;
			  	opacity: 0;
			}
			&.visible {
			  	visibility: visible;
			  	opacity: 1;
			}
		}
		#bigplay {
			@extend #indicator;
			margin: auto;
			top: 0; left: 0; bottom: 0; right: 0;
			width: 150px;
			height: 150px;
			font-size: 5em;
			font-weight: bold;
			text-align: center;
			vertical-align: middle;
		}
	}
	.video {
		background: #555;
		display: block;
		// height: 360px;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.controls {
		background: #000;
		display: block;
		margin: 0;
		padding: 1em 0.5em;
		text-align: center;
		width: 100%;
    .clearfix {
      display: block;
      clear: both;
      width: 100%;
      float: left;
      height: 10px;
    }
    .play-controls {
      float: left;
    }
    .key-controls {
      float: right;
    }
		button {
			background: #000;
			border: 1px solid #FFF;
			border-radius: 5px;
			color: #FFF;
			padding: 0.5em;
			&:hover {
				border-color: #ccc;
				color: #ccc;
			}
		}
		progress {
      cursor: pointer;
			display:block;
			width:100%;
			height:20px;
			height:1.25rem;
			margin-top:10px;
			border:1px solid #FFF;
			overflow:hidden;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			span {
				width:0%;
				height:100%;
				display:inline-block;
				background-color: #FFF;
			}
		}
		.keyframe-ticks {
			display: block;
			clear: both;
			height: 5px;
			position: relative;
			width: 100%;
			div {
				background: #FFF;
				display: block;
				height: 100%;
				position: absolute;
				width: 2px;
			}
		}
		ul#keyframe-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li a {
				color: #FFF;
			}
		}
	}
}

.wrapper {
	padding: 1em 0 0 0;
}
